#mainDiv {
  padding-bottom: 10px;
}
#mainDiv h1 {
  font-size: 26px;
  padding-bottom: 6px;
}
.navbar {
  justify-content: space-between;
}
.products {
  border-bottom: 4px dotted blue;
  padding-top: 15px;
}
#editBtn,
#delBtn {
  float: right;
}
